force-app/main/default/flows/Update_Account_with_Pincode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>380</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>varUpdateCityRecord.Pincode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGetPincodeRecord.Pincode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Account with Pincode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account with Pincode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookupCustomMetadata</name>
        <label>lookupCustomMetadata</label>
        <locationX>210</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment</targetReference>
        </connector>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </filters>
        <object>StatesCitiesPincode__mdt</object>
        <outputReference>varGetPincodeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pincode__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>555</locationX>
        <locationY>43</locationY>
        <inputReference>varUpdateCityRecord</inputReference>
    </recordUpdates>
    <startElementReference>lookupCustomMetadata</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varGetPincodeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StatesCitiesPincode__mdt</objectType>
    </variables>
    <variables>
        <name>varId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPincode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpdateCityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>City__c</objectType>
    </variables>
</Flow>
